/* Empty. Add your own CSS if you like */
@mainColor:#000000;

/*.platform-ios .bar{


}*/

.pinkBackground {
  background-color: #A00000 !important;
}
.lightPinkFont{
  color:#A00;
}
.myButton {
  color:pink !important;
}
.floatRight{
  float:right;
}
.bar .title{
  color:#ffffff !important;
}

.whiteFont {
  color: #fff;
}
.item{
  border-color: #A00000 !important;
}
.smallFont{
  font-size: 10px !important;
}
input::-webkit-input-placeholder {
color: #A07279 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #A07279 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #A07279 !important;
}

input:-ms-input-placeholder {
color: #A07279 !important;
}
.notice{
  color:#aaa;
  font-size: 12px;
  /*width:70px;*/
}
